<h1 style="margin-bottom: 40px;">Restkontingente</h1>

<% @users.each do | user | %>
    <div class="row">
      <div class="col-md-2 bolden">
        <%= user.name %>
      </div>
      <div class="col-md-5">
        <div class="progress">
          <div class="progress-bar <%= progress_bar_class(remaining_percentage(user.today_used_time)) %> progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="<%= "width: #{'%.2f' % [remaining_percentage(user.today_used_time)]}%" %>"></div>
        </div>
      </div>
      <div class="col-md-1">
        <%= "#{'%.2f' % [remaining_percentage(user.today_used_time)]}%" %>
      </div>
      <div class="col-md-2">
        <%= "(#{seconds_to_minutes(remaining_quota(user.today_used_time))})" %>
      </div>
      <div class="col-md-2">
        <div class="btn-group" role="group" data-user-id="<%= user.id %>">
          <% if user.net_allowed %>
              <%= link_to raw('<i class="fa fa-fw fa-unlock text-success"></i>'), toggle_user_netuse_path(:id => user.id), class: 'btn btn-default toggle-netuse', method: :post, remote: true %>
          <% else %>
              <%= link_to raw('<i class="fa fa-fw fa-lock text-danger"></i>'), toggle_user_netuse_path(:id => user.id), class: 'btn btn-default toggle-netuse', method: :post, remote: true %>
          <% end %>
          <%= link_to raw('<i class="fa fa-fw fa-recycle"></i>'), reset_user_path(:id => user.id), class: 'btn btn-default reset', method: :post, remote: true %>
          <% if user.password_digest.nil? %>
            <%= link_to raw('<i class="fa fa-fw fa-trash"></i>'), delete_user_path(:id => user.id), class: 'btn btn-danger', method: :post, remote: true %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>